<div id="eaten" class="ordereaten">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 class="text-monospace text-center">Order Up!</h4>
                <ul>
                    {{#each burgers}}
                    {{#unless eaten}}
                    {{> burgers/burger-block eaten=true}}
                    {{/unless}}
                    {{/each}}
                </ul>
                <form class="create-form font-weight-light text-muted" name="myForm" onsubmit="return validateForm()"
                    method="POST">
                    <div class="form-group">
                        <p>Place an order here: </p>
                        </label>
                        <input type="text" id="brg" name="type">
                        <button id="button" type="submit"><i class="fas fa-plus"></i></button>
                    </div>
                </form>
            </div>

            <div class="col-md-6">
                <h4 class="text-monospace text-center">Eaten!</h4>
                <ul>
                    {{#each burgers}}
                    {{#if eaten}}
                    {{> burgers/burger-block eaten=false}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>